=  f.select field.name, field.association_model.all.map{ |m| [m.title, m.id] }, {}, :class => "text_field"
%a.open-create-object{ :href => "/tower/#{field.name.humanize.downcase}/new" }= "Criar #{field.name.humanize}"