= form_for [ :tower, @object ], :url => path, :html => { :enctype => "multipart/form-data" } do |f|
	= render :partial => "sections", :collection => @abstract_model.columns, :locals => { :f => f }

	=f.submit