- association_model = Tower::AbstractModel.new field.name.to_s
- columns = Array.new

- association_model.columns.each do |column|
	- if column.show_in_form && column.name != field.association_from + "_id"
		- columns.push column

	- else
		-column.show_in_form = false

= f.fields_for field.name do | ff |
	= render :partial => 'sections', :collection => columns, :locals => { :f => ff }