%header
	%h1
		= "#{add_to_title} #{@abstract_model.plural_name}"

		- if ( @action == "Index" )
			%small
				%p.pull-right
					= link_to "New #{ @abstract_model.singular_name }", new_path, { :class => "btn btn-primary" }

	%ul.breadcrumb
		%li  
			=link_to "Dashboard", "/tower"
			%span.divider /
		
		%li  
			=link_to @abstract_model.plural_name, path
			%span.divider /

		%li.active
			= @action