%span.wrap-image-upload
	%span.image
	%span.text 
	%span.bt.bt-upload 
		%i.icon
		Escolher Imagem

	%span.bt.bt-remove{ :style => "display:none;" }
		%i.icon.icon-remove
		Remover Imagem
	

	=f.file_field field.name, :class => "image-field"