-if sections.show_in_form
	%div.control-group
		= f.label sections.name, :class => "control-label"

		%div.controls
			= render :partial => sections.type.to_s, :locals => { :field => sections, :f => f }
