= render :partial => "header", :locals => { :add_to_title => "List of" }

%table
	%thead
		-@abstract_model.columns.each do |column|
			-if column.type != "has_one" && column.show_in_table
				%th= column.name.humanize

		%th Ações

	%tbody
		- @objects.each do | object |
			%tr
				-@abstract_model.columns.each do |column|
					-if column.show_in_table
						-if column.type != "has_one"
							- if column.type != "belongs_to"
								-if column.name != "updated_at"
									%td= object.read_attribute column.name
								-else
									%td= distance_of_time_in_words(  DateTime.now, object.read_attribute(column.name) )

							-else	
								%td= column.association_model.find( object.read_attribute column.name ).title					
				%td
					%div.btn-group
						%button{ :class => "btn", :data => {:toggle => "dropdown"} } Ações
						%button{ :class => "btn dropdown-toggle", :data => {:toggle => "dropdown"} }
							%span.caret

						%ul{ :class => "dropdown-menu" }	
							%li 
								=link_to "Editar", edit_path(object.id)
								= link_to "Remover", show_path(object.id), :method => :delete
							%li.divider
							%li
								%a{ :href => "/#{params[:model_name]}/#{object.id}", :target => '_blank' } Visualizar