= render :partial => "header", :locals => { :add_to_title => "New" }

= form_for [ :tower, @object ], :url => path do |f|
	%div.form-content
		= render :partial => 'sections', :collection => @abstract_model.columns, :locals => { :f => f }

	%div.form-actions
		%button{ :type=>"button", :class=>"btn" } Cancelar		
		%button{ :type=>"submit", :class=>"btn btn-primary" } Salvar Alterações
