/*
 *= require tower/normalize
 *= require tower/redactor 
*/
	
	*                  { outline:none; }
	html, body 		   { background-color:#30363f; color:#FFF; font:14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; font-smooth:always; -webkit-font-smoothing: antialiased; }
	
/*   HEADER ---------------------------------------------------------------------------------- */

	.header 				{ background-color:#48afaa; display:block; height:70px; position:relative; z-index:9999; }
	.header a.site-name 	{ width:240px; height:70px; background-color:#2da097; color:#fff; display:block; text-align:center; font-size:34px; line-height:70px; border-right:1px solid #5bbbb4; box-shadow:inset -1px 0px 5px -2px #1c6f69; }


/*   SIDEBAR ---------------------------------------------------------------------------------- */

	.bg-sidebar-nav	{ background-color:#1d2126; width:240px; top:0; overflow:hidden; height:100%; display:block; position:fixed; border-right:1px solid #4a4d51; box-shadow:inset -1px 0px 5px -2px #000; }
	
	.sidebar-nav 			
	{ 
		width:240px; overflow:hidden; height:100%; display:block; position:absolute; 

		ul 				{ margin:0; padding:0; }
		ul li 	a		{ background:#000 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2a2f36), to(#191d22));  height:45px; line-height:45px; margin:0; display:block; border-top:1px solid #3d434a; border-bottom:1px solid #08090a; text-indent:25px; font-size:13px; }
		ul li 	a:hover	{ background:#000 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#14171a), to(#0c0e11)); height:45px; }
	}

	
/*   CONTENT ---------------------------------------------------------------------------------- */

	.content
	{ 
		margin-left:290px; margin-right:65px; margin-top:30px; cursor:default;

		h1 					{ font-size:42px; padding-top:15px; font-weight:normal; } 
		h1 small a			{ float:right; font-size:13px; font-weight:bold; border:1px solid #77BAB6; padding:8px 12px; border-radius:5px; margin-top:-60px; }
		h1 small a:hover	{ background-color:#77BAB6; color:#30363f; text-decoration:none; }


		a 		{ color:#77BAB6; }
		a:hover { text-decoration:underline; color:#90DED9; }


		/* BUTTONS ------------------------------------------------------ */

		.bt 				{ background:#473D5E -webkit-gradient(linear, 0% 0%, 0% 100%, from(#594F70), to(#292238)); border-top:1px solid #826FB0; border-bottom:1px solid #191521; border-right:1px solid #585169; border-radius:4px; display:block; font-weight:bold; float:left; padding:10px; font-size:13px; color:rgba(255, 255, 255, 0.8); }
		.icon				{ display: inline-block; width:14px; height:14px; margin-top: 1px; line-height: 14px; vertical-align: text-top; background: url("/assets/tower/glyphicons-halflings-white.png") -289px -143px no-repeat; color:#FFF; opacity:0.8; }

		.bt.bt-remove 		{ background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#78434F), to(#471D27)); border-top-color:#AB7280; border-bottom-color:#2B1118; border-right-color:#784D57; }
		.icon-remove		{ background-position:-458px 0; }


		/* BREADCRUMB ------------------------------------------------------ */

		.breadcrumb
		{ 
			display:block; clear:both; overflow:hidden; background-color:rgba(0, 0, 0, 0.15); margin-bottom:40px; padding:10px 20px; border-radius:6px;

			li 				{ display:block; float:left; }
			li a			{ display:block; float:left; }
			li .divider 	{ display:block; float:left; padding:0 7px; color:#5E6269; }
			li.active 		{ color:rgba(255, 255, 255, 0.5); }
		}


		/* TABLE ------------------------------------------------------ */
		
		table				
		{ 
			width:100%; border:1px solid rgba(255, 255, 255, 0.08); border-radius:6px; border-spacing:0;  margin-bottom:50px;


			th, td 			          { padding:15px; border:1px solid rgba(255, 255, 255, 0.08); }
			th 				          { border-width:0; border-right-width:1px; }
			td 				          { border-width:0; border-top-width:1px; border-right-width:1px; color:rgba(255, 255, 255, 0.8);  }

			tr td:first-child 		{ text-align:center; width:50px; }
			tr td:last-child 		{ width:80px; }

			th:last-child, td:last-child 	  { border-right:0; }
			tr:nth-child(odd) > td 			    { background-color:rgba(0, 0, 0, 0.08); }
			tr:hover td 					          { background-color:rgba(0, 0, 0, 0.2); color:#fff; }
			tr:hover td .btn  				      { color:#fff; }

			.btn-group
			{
  				position: relative; display: inline-block; font-size: 0; white-space: nowrap; vertical-align: middle; 

  				.btn 					{ font-size:13px; border:0; border-right:1px solid #3B9C94; font-weight:bold; background-color:#228078; color:#FFF; padding:5px 10px; border-radius:3px 0 0 3px; }
  				.btn.dropdown-toggle 	{ border-radius:0 3px 3px 0; border-left:1px solid #1D615C; border-right:0; padding-left:12px; }

  				.caret 					             { display: inline-block; color:#fff; width: 0; height: 0; vertical-align: middle; border-top: 4px solid #fff; border-right: 4px solid transparent; border-left: 4px solid transparent; content: ""; margin-left:-5px; }
  				.dropdown-menu  			       { display:none; width:94px; padding:0; margin:1px 0 0 0; position:absolute; z-index:999999; background-color:#105E59; border-radius:3px; }
  				.dropdown-menu  li 			     { color:#fff; font-size:14px; margin:0; display:block; }
  				.dropdown-menu  li a 		     { display:block; color:#fff; font-size:13px; border-bottom:1px solid #16524D; padding:5px 10px; }
  				.dropdown-menu  li a:hover 	 { color:#FFF; text-decoration:none; }
  			
  				.dropdown-menu  li:last-child a { border-radius:3px; }
			}
		}	

		table.users tr td:first-child { width:auto; }


	
/*   FORM ---------------------------------------------------------------------------------- */
		
	.control-group
	{
		padding-bottom:20px; margin-right:250px; clear:both;

		label 							        { padding:10px 0 5px 3px; text-shadow:0 1px 2px #000; display:block; font-weight:bold; color:rgba(255, 255, 255, 0.8); }

	    .text_field, .wrap-image-upload, .redactor_text_field    	{ border:none; padding:15px; text-shadow:0 1px 0 #000; width:100%; border-radius:4px; font:14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; background-color:rgba(0, 0, 0, 0.3); color:rgba(255, 255, 255, 0.7);  border-top:1px solid rgba(0, 0, 0, 0.5); border-bottom:1px solid rgba(255, 255, 255, 0.2); box-shadow:inset 0 3px 6px rgba(0, 0, 0, 0.5); -webkit-appearance: none; appearance: none;  }
		.redactor_text_field { width:auto; cursor:text; }
		.text_field:hover, .text_field:focus 	{ color:#FFF; } 
	    .image-field                         	{ margin:-100px 0 0 0; cursor:pointer; float:left; width:100%; height:100px; opacity:0; }    

    	textarea.text_field                	 	{ max-width:100%; } 
		select.text_field 	                	{ width:104%; padding-left:10px; }
		select.text_field option 				{ color:#000; }

		span.wrap-image-upload
		{ 
			cursor:pointer; display:block; overflow:hidden; float:left; padding:0 30px 0 0; margin-bottom:15px;

			span.bt 			{  margin:3px; float:right; margin-right:-27px; }
			span.image img		{ height:100%; width:auto; height:43px; float:left; margin:2px 3px 0 3px; border-radius:2px; }
			span.text 			{ float:left; padding-top:13px; padding-left:10px; display:inline; overflow-y:hidden; height:20px; }
		}

    	.want-edit-image      { display:block; float:left; line-height:50px; padding-left:15px; }
	}

	.form-actions 			  
	{ 
		border-top:1px solid rgba(255, 255, 255, 0.1); text-align:center; padding:20px; margin:0 0 50px 0; background-color:rgba(0, 0, 0, 0.15); border-radius:6px; overflow:hidden; clear:both; margin-top:50px;

		button.btn  { background:#30363f -webkit-gradient(linear, 0% 0%, 0% 100%, from(#30363f), to(#13161C)); border:none; border-top:1px solid #4D535E; border-bottom:1px solid #0A1F1D; border-radius:4px; font-weight:bold; display:inline; padding:10px 15px; font-size:13px; color:rgba(255, 255, 255, 0.8); margin-right:5px; }
		button.btn.btn-primary { background:#2C7873 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2C7873), to(#083835)); border-top:1px solid #378A84; }
	}


/*   DASHBOARD ---------------------------------------------------------------------------------- */

		.dashboard h1 			{ border-bottom:1px solid #40464e; display:block; overflow:hidden; height:45px; font-size:15px; margin-bottom:20px; }
		.dashboard h1 span 		{ border:1px solid #40464e; border-bottom:none; background-color:#30363f; display:block; display:block; position:absolute; padding:15px 20px 10px 20px; border-radius:5px 5px 0 0; color:#ADB2BA; }
		.dashboard h1 i 		{ color:#A37C9D; }

		.dashboard .row  		{ display:block; width:20%; float:left; text-align:center; }
		.dashboard .row h2 		{ font-weight:normal; font-size:37px; line-height:0; }
		.dashboard .row p 		{ line-height:0; padding-top:3px; opacity:0.5; }


	/* Analytics -------------------------------- */

		.analytics .datas 		{ overflow:hidden; margin-bottom:25px; }
		.analytics canvas 		{ margin-bottom:50px; }

		.socialEngagement 		{ display:block; overflow:hidden; margin-bottom:50px; }
		.socialEngagement .row	{ width:25%; display:block; float:left; text-align:center; }


	/* Addons -------------------------------- */
		
		.add-ons  		 		{ margin-bottom:20px; overflow:hidden; }
		.add-ons .row 	 		{ width:20%; padding:2.5%; cursor:pointer; }   
		.add-ons .row h2 		{ font-size:15px; }
		.add-ons .row h2 i 		{ font-weight:bold; color:#6FAB72; }
		.add-ons .row p  		{ line-height:14px; font-size:12px; }
		.add-ons .row:hover 	{  background-color:#22272E; }
		.add-ons .row:hover h2 	{ font-weight:bold; }
	}


/*   MODAL ---------------------------------------------------------------------------------- */
	
  	.modal { position:fixed; top:10%; left:10%; background-color:#FFF; z-index:9999; width:80%; height:80%; border-radius:5px; box-shadow:0 0 20px #000; }

  	.modal.create-object
  	{ 
  		width:500px; height:330px; top:50%; left:50%; margin:-100px 0 0 -185px;

  		header 				{ background-color:#DFE0F2; border-bottom:1px solid #D1D1DE; padding:20px; margin:0; border-radius:4px 4px 0 0; }
  		header h1 			{ padding:0; margin:0; font-size:24px; color:#4B526B; text-shadow:0 1px 0 #FFF; }
  		header .breadcrumb 	{ display:none; }

  		.modal-content form .form-content
  		{ 
  			background-color:#FFF; border-top:1px solid #FFF; border-bottom:1px solid #FFF; height:200px; overflow:hidden; overflow-y:auto; padding:5px 25px 0 25px; 

  			label 		{ color:#4B526B; padding-top:20px; padding-bottom:2px; font-weight:bold; display:block; }
  			.text_field { border:none; color:#434754; width:425px; padding:12px 10px; border:1px solid #BCBFE6; border-radius:5px; }
  		}

  		.form-actions
  		{  
  			text-align:center; padding-top:15px; padding-bottom:15px; overflow:hidden; background-color:#f5f5f5; border-top:1px solid #E4E3E6; border-radius:0 0 5px 5px;
  		}
  	}

	.modal-alert
	{ 
		width:440px; text-shadow:1px 1px 0 #FFF; box-shadow:0 0 10px #000; position:fixed; z-index:9999; top:50%; left:50%; margin:-75px 0 0 -220px; border-radius:5px; background-color:#f2dede; color:#b94a48; 

		h4 		{ margin:0; padding:15px; font-size:19px; padding-bottom:0; }
		p 		{ margin:0; padding:15px; padding-top:10px; padding-bottom:10px; border-bottom:1px solid #E6AAAA; }
		button 	{ display:none; }

		.buttons { background-color:#f5f5f5; padding-top:8px; border-bottom:0; border-top:1px solid #FFF; display:block; border-radius:0 0 5px 5px; padding-bottom:10px; }
	}

	.modal
	{
	    .btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 12px; margin-bottom: 0; font-size: 14px; line-height: 20px; text-align: center; vertical-align: middle; cursor: pointer; color: #333333; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(to bottom, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0); border-color: #e6e6e6 #e6e6e6 #bfbfbf; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); *background-color: #e6e6e6; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); border: 1px solid #cccccc; *border: 0; border-bottom-color: #b3b3b3; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; *margin-left: .3em; -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05); -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05); box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05); }

	    .btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { color: #333333; background-color: #e6e6e6; *background-color: #d9d9d9; }
	    .btn:active, .btn.active      { background-color: #cccccc \9; }
	    .btn:first-child              { *margin-left: 0; }
	    .btn:hover, .btn:focus        { color: #333333; text-decoration: none; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
	    .btn:focus                    { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
	    .btn.active, .btn:active      { background-image: none; outline: 0; -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05); -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05); box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05); }
	    .btn.disabled, .btn[disabled] { cursor: default; background-image: none; opacity: 0.65; filter: alpha(opacity=65); -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }


	    .btn-danger.active  { color: rgba(255, 255, 255, 0.75); }
	    .btn-danger         { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #da4f49; background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f)); background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f); background-image: -o-linear-gradient(top, #ee5f5b, #bd362f); background-image: linear-gradient(to bottom, #ee5f5b, #bd362f); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0); border-color: #bd362f #bd362f #802420; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); *background-color: #bd362f; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }

	    .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] { color: #ffffff; background-color: #bd362f; *background-color: #a9302a; }
	    .btn-danger:active, .btn-danger.active { background-color: #942a25 \9;}
	}

	.bkg-modal  { width:100%; height:100%; position:fixed; z-index:9999; top:0; left:0; background-color:#000; opacity:0.6; }
