!!! XML
!!!
%html
	%head
		%title Tower

		= stylesheet_link_tag "tower/application", media: "all"
		= javascript_include_tag "tower/application"

		=csrf_meta_tags

	%body

		%div.header
			%a.site-name{ :href => "/tower" }= "tower<strong>cms</strong>".html_safe

		%div.bg-sidebar-nav
		%div.sidebar-nav
			%ul
				%li=link_to 'Artigos', '/tower/articles'
				%li=link_to 'Categoria de Artigos', '/tower/categories'
				%li=link_to 'Capitão Chumbada', '/tower/comic_strips'
				%li=link_to 'Podcasts', '/tower/podcasts'

		%div.content
			= yield

		
		%span.bkg-modal{ :style => "display:none;" }

		%div.modal.create-object{ :style => "display:none;" }
			%div.modal-content

		%div.modal-alert.modal-remove-image{ :style => "display:none;" }
			%button.close{ :type =>"button", :data => { :dismiss=>"alert" } } ×

			%h4 Apagar Imagem?
			%p Cuidado, esta imagem esta atualmente sendo utilizada no site.

			%p.buttons
				%a.btn{ :href => "#" } Cancelar
				%a.btn.btn-danger{ :href => "#" } Sim, apagar



