      <div class="dashboard">
        <div class="analytics">
          <h1><span>Estatísticas Gerais</span></h1>
          
          <div class="datas">
            <div class="row">
              <h2>1.588</h2>
              <p>Total de Acessos</p>
            </div>
            <div class="row">
              <h2>1.162</h2>
              <p>Visitantes Únicos</p>
            </div>
            <div class="row">
              <h2>3.720</h2>
              <p>Exibições de Páginas</p>
            </div>
            <div class="row">
              <h2>2.65</h2>
              <p>Páginas/Visitas</p>
            </div>
            <div class="row">
              <h2>75,5%</h2>
              <p>Novos Usuários</p>
            </div>
          </div>

          <canvas width="980" height="220" ></canvas>
        </div>


        <h1><span>Engajamento Social <i class="beta">βeta</i></span></h1>

        <div class="socialEngagement">
          <div class="row">
            <h2>3.000</h2>
            <p>Total de Pontos</p>
           </div>
          <div class="row row-facebook">
            <h2>100</h2>
            <p>Facebook/Curtiram</p>
          </div>
          <div class="row row-twitter">
            <h2>50</h2>
            <p>Twitter/Seguidores</p>
          </div>

          <div class="row row-twitter">
            <h2>300</h2>
            <p>Comaprtilhamentos</p>
          </div>
        </div>
      </div>
